<div class="fondo">
  <button type="button" class="btnClienteRegistradoInicio"  (click)="manejadoraInicio('CLIENTE_REGISTRADO')">Registrarme</button>
  <button type="button" class="btnClienteAnonimoInicio"     (click)="manejadoraInicio('CLIENTE_ANONIMO')"   >Ingreso sin registro</button>
  <button type="button" class="btnLoginInicio"              (click)="manejadoraInicio('LOGIN')"             >Ya soy Cliente</button>

  <div class="logoSplash">
    <img src="../../../assets/spinner.png">
  </div>
  <label class="divTitulo">COHERENCE</label>
  <label class="divNombres">
    <p>ATTIE PATRICIO</p>
    <p>HULEJ LUCAS</p>
    <p>LIPPI FRANCO</p>  
  </label>


  <div class="loadingContainerInicio" id="loadingContainerInicio" hidden>
    <div class="loadingInicio">
      <img src="../../../assets/spinner.png">
    </div>
  </div>
</div>
