<div class="fondo">

  <ion-button type="button" color="warning" class="btnClienteRegistradoInicio"
    (click)="manejadoraInicio('CLIENTE_REGISTRADO')">Registrarme</ion-button>
  <ion-button type="button" color="warning" class="btnClienteAnonimoInicio" 
    (click)="manejadoraInicio('CLIENTE_ANONIMO')">Ingreso<br>sin registro</ion-button>
  <ion-button type="button" color="warning" class="btnLoginInicio" 
    (click)="manejadoraInicio('LOGIN')">Ya soy Cliente</ion-button>

  <div class="logoSplash">
    <img src="../../../assets/spinner.png">
  </div>
  <label class="divTitulo">COHERENCE</label>
  <label class="divNombres">
    <p>
      <ion-badge color="warning">ATTIE PATRICIO</ion-badge>
    </p>
    <p>
      <ion-badge color="warning">HULEJ LUCAS</ion-badge>
    </p>
    <p>
      <ion-badge color="warning">LIPPI FRANCO</ion-badge>
    </p>
  </label>

</div>