<div class="fondoHome">
  
  <div *ngIf="getMuestraModal()" id="myModal" class="modal">
     <img class="modal-content" id="img01" [src]="base64ToImg()" (click)="setMuestraModal(false)">
  </div>

  <form *ngIf="!getMuestraModal()" [formGroup]="formMesa" (ngSubmit) ="onSubmitMesa()">
    <label class="lblTitulo">Número de mesa</label>
    <ion-input type="number" [formControl]="formMesa.controls.numeroMesa"></ion-input>
    <label class="lblError" *ngIf="formMesa.controls.numeroMesa.invalid && (formMesa.controls.numeroMesa.touched || formMesa.controls.numeroMesa.dirty)">{{ mostrarError('numeroMesa') }}</label>
        
    <label class="lblTitulo">Cantidad de comensales</label>
    <ion-input type="number" [formControl]="formMesa.controls.cantidadComensales"></ion-input>
    <label class="lblError" *ngIf="formMesa.controls.cantidadComensales.invalid && (formMesa.controls.cantidadComensales.touched || formMesa.controls.cantidadComensales.dirty)">{{ mostrarError('cantidadComensales') }}</label>
    
    <label class="lblTitulo">Tipo de mesa</label>
    <ion-select [formControl]="formMesa.controls.tipoMesa">
      <ion-select-option *ngFor="let tipo of tipoMesa">{{ tipo }}</ion-select-option>
    </ion-select>
    <label class="lblError" *ngIf="formMesa.controls.tipoMesa.invalid && (formMesa.controls.tipoMesa.touched || formMesa.controls.tipoMesa.dirty)">{{ mostrarError('tipoMesa') }}</label>

    <button type="button" class="btnVolverAltaMesas" (click)="volverHome()">Volver</button>
    <button type="button" *ngIf="getFoto().length === 0" class="btnFotoAltaMesas" (click)="tomarFoto()">FOTO</button>
    <button type="button" *ngIf="getFoto().length > 0" class="btnFotoAltaMesas" (click)="setMuestraModal(true)">VER FOTO</button>
    <button class="btnSubmitAltaMesas" type="submit">ENVIAR</button>
  </form>
  
</div>