<ion-header>
  <ion-toolbar color="warning">
    <ion-button slot="start" fill="clear" (click)="logOut()">
      <ion-icon color="light" name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">
      COHERENCE
    </ion-title>
    <ion-avatar *ngIf="usuario" slot="end" class="avatar">
      <img [src]="usuarioService.obtenerFoto(usuario)">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <button type="button" class="btnClientesPendientesHome" (click)="manejadoraHome('PENDIENTE')"
    *ngIf="mostrarSegunPerfil('clientesPendientes')">Usuarios Pendientes</button>
  <button type="button" class="btnDuenioHome" (click)="manejadoraHome('DUEÑO')"
    *ngIf="mostrarSegunPerfil('altaDueño')">Abm Dueños</button>
  <button type="button" class="btnSupervisorHome" (click)="manejadoraHome('SUPERVISOR')"
    *ngIf="mostrarSegunPerfil('altaSupervisor')">Abm Supervisores</button>
  <button type="button" class="btnEmpleadoHome" (click)="manejadoraHome('EMPLEADO')"
    *ngIf="mostrarSegunPerfil('altaEmpleado')">Abm Empleados</button>
  <button type="button" class="btnClienteAnonimoHome" (click)="manejadoraHome('CLIENTE_ANONIMO')"
    *ngIf="mostrarSegunPerfil('altaClienteAnonimo')">Abm Cliente Anonimo</button>
  <button type="button" class="btnClienteRegistradoHome" (click)="manejadoraHome('CLIENTE_REGISTRADO')"
    *ngIf="mostrarSegunPerfil('altaClienteRegistrado')">Abm Cliente Registrado</button>
  <button type="button" class="btnPedirProductosHome" (click)="manejadoraHome('PEDIR_PRODUCTOS')"
    *ngIf="mostrarSegunPerfil('pedirProductos')">Pedir Productos</button>
</ion-content>