*{
  margin: 0%;
  padding: 0%;
  outline: none;
}

.fondoHome{
  background-image: url("../../../assets/fondoLogin.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.headHome{
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 5vh;
  width: 100vw;
  background-color: rgb(255,215,0);
}

.lblHeadHome{
  position: absolute;
  top: 0%;
  left: 15%;
  width: 70%;
  height: 100%;
  background-color: rgb(255,215,0);
  color: grey;
  font-size: 2em;
  line-height: 100%;
}

.imgHeadHome{
  position: absolute;
  top: 0%;
  left: 85%;
  width: 15%;
  height: 100%;
  border-radius: 100%;
}

.btnVolverHome{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 15%;
  height: 100%;
  background-color: green;
  color: grey;
  font-size: 2em;
  vertical-align: middle;
} 

////////////////////////////////////////////////////////////////////////////////////

.btnDuenioHome, .btnSupervisorHome, .btnEmpleadoHome, .btnClienteAnonimoHome, .btnClienteRegistradoHome,.btnCargaMesa, .btnCargaProducto{
  position: absolute; 
  width: 50vw; 
  left: 25vw;
  height: 10vh;
  color: grey;
  background-color:  rgb(255,215,0);
  border-radius: 10px;
  box-shadow: 0 10px 	rgb(218,165,32);
  font-size: 3vh;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
}

.btnDuenioHome{
  top: 15vh;
}

.btnSupervisorHome{
  top: 27vh;
}

.btnEmpleadoHome{
  top: 39vh;
}

.btnClienteAnonimoHome{
  top: 51vh;
}

.btnClienteRegistradoHome{
  top: 63vh;
}

.btnCargaMesa {
  top: 75vh;
}

.btnCargaProducto {
  top: 87vh;
}

.btnCargaMesa:active, .btnCargaProducto:active{
  transform: translate(0px, 5px);
  box-shadow: 0 5px rgb(218,165,32);
}

.loadingContainerHome{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 299;
}

.loadingHome{
  width: 100px;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 300;
  animation: spinHome 2s linear infinite;
  background-color: gold;
  border-radius: 100px;
}

@keyframes spinHome{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}