<div class="fondoHome">

  <div class="headHome">
    <button type="button" class="btnVolverHome" (click)="volverHome()"><</button>
    <label class="lblHeadHome">{{perfilUsuarioHome}}</label>
    <img class="imgHeadHome" [src]="imgUsuarioHome">
  </div>

  <button type="button" class="btnClientesPendientesHome" (click)="manejadoraHome('PENDIENTE')"          *ngIf="mostrarSegunPerfil('clientesPendientes')">Clientes Pendientes</button>
  <button type="button" class="btnDuenioHome"             (click)="manejadoraHome('DUEÑO')"              *ngIf="mostrarSegunPerfil('altaDueño')">Abm Dueños</button>
  <button type="button" class="btnSupervisorHome"         (click)="manejadoraHome('SUPERVISOR')"         *ngIf="mostrarSegunPerfil('altaSupervisor')">Abm Supervisores</button>
  <button type="button" class="btnEmpleadoHome"           (click)="manejadoraHome('EMPLEADO')"           *ngIf="mostrarSegunPerfil('altaEmpleado')">Abm Empleados</button>
  <button type="button" class="btnClienteAnonimoHome"     (click)="manejadoraHome('CLIENTE_ANONIMO')"    *ngIf="mostrarSegunPerfil('altaClienteAnonimo')">Abm Cliente Anonimo</button>
  <button type="button" class="btnClienteRegistradoHome"  (click)="manejadoraHome('CLIENTE_REGISTRADO')" *ngIf="mostrarSegunPerfil('altaClienteRegistrado')">Abm Cliente Registrado</button>
  <button type="button" class="btnPedirProductosHome"     (click)="manejadoraHome('PEDIR_PRODUCTOS')"    *ngIf="mostrarSegunPerfil('pedirProductos')">Pedir Productos</button>

  <div class="loadingContainerHome" id="loadingContainerHome" hidden>
    <div class="loadingHome">
      <img src="../../../assets/spinner.png">
    </div>
  </div>

</div>