*{
  margin: 0%;
  padding: 0%;
  outline: none;
}

.fondoHome{
  background-image: url("../../../assets/fondoLogin.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btnVolverHome, .btnCargaMesa, .btnCargaProducto, .btnCargaUsuario {
  position: absolute; 
  width: 20vw; 
  height: 10vh;
  top: 5vh;
  color: grey;
  background-color:  rgb(255,215,0);
  border-radius: 10px;
  box-shadow: 0 10px 	rgb(218,165,32);
  font-size: 3vh;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
}

.btnVolverHome {
  left: 5vw;
}

.btnCargaMesa {
  left: 30vw;
}

.btnCargaProducto {
  left: 55vw;
}

.btnCargaUsuario {
  left: 80vw;
}

.btnVolverHome:active, .btnCargaMesa:active, .btnCargaProducto:active, .btnCargaUsuario:active {
  transform: translate(0px, 5px);
  box-shadow: 0 5px rgb(218,165,32);
}


.loadingContainerHome{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 299;
}

.loadingHome{
  width: 100px;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 300;
  animation: spinHome 2s linear infinite;
  background-color: gold;
  border-radius: 100px;
}

@keyframes spinHome{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}