<!-- <ion-header>
  <ion-toolbar color="warning">
    <ion-button slot="start" fill="clear" (click)="volver()">
      <ion-icon color="light" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<app-toolbar [titulo]="'Usuarios'" [backBtn]="'home'" [usuario]="null">
</app-toolbar>

<ion-content class="background">

  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="getPerfil() === 'DUEÑO'">
      <ion-col>
        <ion-button color="warning" (click)="abmUsuario('DUEÑO')" size="block">
          <ion-icon name="person-add-outline"></ion-icon> Nuevo DUEÑO
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getPerfil() === 'DUEÑO' || getPerfil() === 'SUPERVISOR'">
      <ion-col>
        <ion-button color="warning" (click)="abmUsuario('SUPERVISOR')" size="block">
          <ion-icon name="person-add-outline"></ion-icon> Nuevo SUPERVISOR
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getPerfil() === 'DUEÑO' || getPerfil() === 'SUPERVISOR'">
      <ion-col>
        <ion-button color="warning" (click)="abmUsuario('EMPLEADO')" size="block">
          <ion-icon name="person-add-outline"></ion-icon> Nuevo EMPLEADO
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getPerfil() === 'METRE'">
      <ion-col>
        <ion-button color="warning" (click)="abmUsuario('CLIENTE_REGISTRADO')" size="block">
          <ion-icon name="person-add-outline"></ion-icon> Nuevo CLIENTE_REGISTRADO
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getPerfil() === 'METRE'">
      <ion-col>
        <ion-button color="warning" (click)="abmUsuario('CLIENTE_ANONIMO')" size="block">
          <ion-icon name="person-add-outline"></ion-icon> Nuevo CLIENTE_ANONIMO
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list color=“transparent”>
    <ion-list-header color="light">
      PENDIENTES
    </ion-list-header>

    <ion-item color="warning" *ngIf="listaPendientes && listaPendientes.length === 0">
      <ion-label class="ion-text-wrap">
        No hay usuarios pendientes para confirmar
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let usuario of listaPendientes">
      <ion-item color="warning">
        <ion-avatar slot="start">
          <img src="{{usuarioService.obtenerFoto(usuario)}}">
        </ion-avatar>
        <ion-label color="light">
          <h2 class="ion-text-capitalize bold">{{usuario.nombre}} {{usuario.apellido}}</h2>
          <h3 *ngIf="usuario.dni">DNI {{usuario.dni}}</h3>
          <p>{{usuario.perfil}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="aprobarUsuario(usuario)">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="declinarUsuario(usuario)">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list color=“transparent”>
    <ion-list-header color="light">
      APROBADOS
    </ion-list-header>

    <ion-item color="warning" *ngIf="listaAprobados && listaAprobados.length === 0">
      <ion-label class="ion-text-wrap">
        No hay usuarios aprobados por el momento
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let usuario of listaAprobados">

      <ion-item color="warning">
        <ion-avatar slot="start">
          <img src="{{usuarioService.obtenerFoto(usuario)}}">
        </ion-avatar>
        <ion-label color="light">
          <h2 class="ion-text-capitalize bold">{{usuario.nombre}} {{usuario.apellido}}</h2>
          <h3 *ngIf="usuario.dni">DNI {{usuario.dni}}</h3>
          <p>
            <ion-badge color="light">{{usuario.perfil}}</ion-badge>
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="light" (click)="editarUsuario(usuario)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminarUsuario(usuario)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>