<app-toolbar [titulo]="'COHERENCE'" [usuario]="usuario">
</app-toolbar>

<ion-content class="background">
  <ion-card color="light">
    <ion-text class="ion-text-center" color="dark">
      <h2>Bienvenido <ion-label color="warning">{{usuario?.nombre}}</ion-label>!</h2>
    </ion-text>
  </ion-card>
  <ion-card (click)="irListaEspera()" >
    <img src="../../../../assets/mesa-qr.png" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Buscar una MESA <ion-icon class="ion-float-right" color="warning" name="arrow-forward-outline">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Escaneá el código QR que se encuentra en la mesa para ingresar en la lista de espera.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="irListaEspera()" *ngIf="false">
    <img src="../../../../assets/mesa-qr.png" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Tu pedido actual <ion-icon class="ion-float-right" color="warning" name="arrow-forward-outline">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Detalles de tu pedido en curso. Podrás agregar comida, consultar al mozo, pagar y realizar una encuesta de
      satisfaccion.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="../../../../assets/platos.png" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Pedidos anteriores<ion-icon class="ion-float-right" color="warning" name="arrow-forward-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Tus pedidos finalizados.
    </ion-card-content>
  </ion-card>
</ion-content>