<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> MESA #<ion-label color="warning">{{pedido?.mesa.numero}}</ion-label>
      </ion-card-subtitle>
      <ion-card-title>PEDIDO #<ion-label color="warning">{{pedido?.id.substr(-5)}}</ion-label>
        <ion-icon class="ion-float-right" color="warning" name="information-circle-outline">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>
    <img src="../../../../../assets/mesa-qr.png" />
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Ver <ion-label color="warning">DETALLE</ion-label>
        <ion-icon class="ion-float-right" color="warning" name="reader-outline">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Consulta el detalle de tu pedido actuál.
    </ion-card-content>
  </ion-card>

  <!-- <ion-card (click)="agregarComida()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Agregar <ion-label color="warning">COMIDA</ion-label>
        <ion-icon class="ion-float-right" color="warning" name="add-circle-outline">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Agrega productos a tu pedido.
    </ion-card-content>
  </ion-card> -->

  <ion-card (click)="chatear('MOZO')">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Consultar al <ion-label color="warning">MOZO</ion-label>
        <ion-icon class="ion-float-right" color="warning" name="chatbox-outline">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Consulta al mozo lo que necesites.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer color="light">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      TOTAL:
      <ion-text color="warning">$ {{calcularTotal() + '.00'}}</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-footer>