<div class="fondoSupDue">

  <div class="divSupDue">SUPERVISORES DUEÑOS</div>

  <button type="button" class="btnVolverSupDue" (click)="volverSupDue()">Volver</button>
  <button type="button" class="btnAltaSupDue">Alta Dueños - Supervisores</button>
  <button type="button" class="btnAltaEmpleados">Alta Empleados</button>

  <div class="loadingContainerSupDue" id="loadingContainerSupDue" hidden>
    <div class="loadingSupDue">
      <img src="../../../assets/spinner.png">
    </div>
  </div>

</div>