*{
    margin: 0%;
    padding: 0%;
    outline: none;
}

.fondoSupDue{
    background-image: url("../../../assets/fondoLogin.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.divSupDue{
    position: absolute; 
    width: 100vw; 
    height: 4vh;
    top: 0vh;
    left: 0vw;
    color: grey;
    background-color:  rgb(255,215,0);
    font-size: 2vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}

.btnVolverSupDue{
    position: absolute; 
    width: 20vw; 
    height: 10vh;
    top: 5vh;
    left: 5vw;
    color: grey;
    background-color:  rgb(255,215,0);
    border-radius: 10px;
    box-shadow: 0 10px 	rgb(218,165,32);
    font-size: 3vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}

.btnVolverSupDue:active{
    transform: translate(0px, 5px);
    box-shadow: 0 5px rgb(218,165,32);
}

.btnAltaSupDue{
    position: absolute; 
    width: 70vw; 
    height: 15vh;
    top: 30vh;
    left: 15vw;
    color: grey;
    background-color:  rgb(255,215,0);
    border-radius: 10px;
    box-shadow: 0 10px 	rgb(218,165,32);
    font-size: 4vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}

.btnAltaSupDue:active{
    transform: translate(0px, 5px);
    box-shadow: 0 5px rgb(218,165,32);
}

.btnAltaEmpleados{
    position: absolute; 
    width: 70vw; 
    height: 15vh;
    top: 70vh;
    left: 15vw;
    color: grey;
    background-color:  rgb(255,215,0);
    border-radius: 10px;
    box-shadow: 0 10px 	rgb(218,165,32);
    font-size: 4vh;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}

.btnAltaEmpleados:active{
    transform: translate(0px, 5px);
    box-shadow: 0 5px rgb(218,165,32);
}

.loadingContainerSupDue{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.678);
    z-index: 299;
}

.loadingSupDue{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 300;
    animation: spinSupDue 2s linear infinite;
    background-color: gold;
    border-radius: 100px;
}

@keyframes spinSupDue{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}