<ion-content class="background">
  <form>

    <div class="headClientesPendientes">
      <button type="button" class="btnVolverClientesPendientes" (click)="volverClientesPendientes()">
      </button>
      <label class="lblHeadClientesPendientes">{{perfilUsuarioClientesPendientes}}</label>
      <img class="imgHeadClientesPendientes" [src]="imgUsuarioClientesPendientes">
    </div>

    <div class="contenedorListaClientesPendientes">
      <div class="contenedorOpciones" *ngFor="let usuario of usuariosPendientes">
        <div type="button" class="opcionListaClientesPendientes" disabled>{{usuario.correo}}</div>
        <button type="button" class="btnAceptarClientesPendientes" (click)="aprobarUsuario(usuario)"
          *ngIf="usuarioEstaPendiente(usuario)">✔</button>
        <button type="button" class="btnCancelarClientesPendientes" (click)="declinarUsuario(usuario)"
          *ngIf="usuarioEstaPendiente(usuario)">✖</button>
      </div>
    </div>

  </form>

</ion-content>