*{
    margin: 0%;
    padding: 0%;
    outline: none;
}
  
.fondoClientesPendientes{
    background-image: url("../../../assets/fondoLogin.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.headClientesPendientes{
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 5vh;
    width: 100vw;
    background-color: rgb(255,215,0);
}
  
.lblHeadClientesPendientes{
    position: absolute;
    top: 0%;
    left: 15%;
    width: 70%;
    height: 100%;
    background-color: rgb(255,215,0);
    color: grey;
    font-size: 2em;
    line-height: 100%;
}
  
.imgHeadClientesPendientes{
    position: absolute;
    top: 0%;
    left: 85%;
    width: 15%;
    height: 100%;
    border-radius: 100%;
}
  
.btnVolverClientesPendientes{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 15%;
    height: 100%;
    background-color: green;
    color: grey;
    font-size: 2em;
    vertical-align: middle;
} 

.contenedorListaClientesPendientes{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(51, 51, 51, 0.712);
    box-shadow: 12px 16px 0px rgba(0, 0, 0, 0.74)
}

.loadingContainerClientesPendientes{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.678);
    z-index: 299;
}
  
.loadingClientesPendientes{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 300;
    animation: spinClientesPendientes 2s linear infinite;
    background-color: gold;
    border-radius: 100px;
}
  
@keyframes spinClientesPendientes{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}