<div class="fondoClientesPendientes">

  <div class="headClientesPendientes">
    <button type="button" class="btnVolverClientesPendientes" (click)="volverClientesPendientes()"><</button>
    <label class="lblHeadClientesPendientes">{{perfilUsuarioClientesPendientes}}</label>
    <img class="imgHeadClientesPendientes" [src]="imgUsuarioClientesPendientes">
  </div>

  <div class="contenedorListaClientesPendientes">
    
  </div>

  <div class="loadingContainerClientesPendientes" id="loadingContainerClientesPendientes" hidden>
    <div class="loadingClientesPendientes">
      <img src="../../../assets/spinner.png">
    </div>
  </div>

</div>