*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: url("../assets/splash.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.logoSplash{
    height: 40vh;
    width: 40vw;
    display: flex;
    left: 30vw;
    bottom: 30vh;
    align-items: center;
    justify-content: center;
    animation: animacion 4s linear;
    position: absolute;
}

.divTitulo{
    position: absolute;
    width: 100vw;
    height: 5vh;
    left: 0vw;
    top: 70vh;
    color: black;
    font-size: 6vh;
    text-align: center;
}

.divNombres{
    position: absolute;
    width: 100vw;
    height: 15vh;
    left: 0vw;
    top: 80vh;
    color: black;
    font-size: 2vh;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

@keyframes animacion{
    from{transform: rotate(0deg) scale(0.5, 0.5)}
    to{transform: rotate(720deg) scale(1, 1)}
}