<ion-app>
  <div class="fondo" [style.display]="splash ? 'flex' : 'none'">
    <div class="logoSplash">
      <img src="../assets/spinner.png">
    </div>
    <label class="divTitulo">COHERENCE</label>
    <label class="divNombres">
      <p>
        <ion-badge color="warning">ATTIE PATRICIO</ion-badge>
      </p>
      <p>
        <ion-badge color="warning">HULEJ LUCAS</ion-badge>
      </p>
      <p>
        <ion-badge color="warning">LIPPI FRANCO</ion-badge>
      </p>
    </label>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>