ion-spinner {
    transform: scale(3);
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}
ion-icon.feed {
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  ion-button.qr {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  ion-card {
    margin-top: 30px;
  }