<div class="fondoLogin">
  <form [formGroup]="formLogin" (ngSubmit) ="onSubmitLogin()">
    
    <label class="lblCorreoLogin">Correo Electrónico</label>
    <input type="text" class="inpCorreoLogin" formControlName="correoLogin">
    <div class="errCorreoLogin" [hidden]="!errorEnControlLogin('correoLogin')">CORREO INVALIDO</div>

    <label class="lblClaveLogin">Contraseña</label>
    <input type="password" class="inpClaveLogin" formControlName="claveLogin">
    <div class="errClaveLogin" [hidden]="!errorEnControlLogin('claveLogin')">CLAVE INVALIDA</div>
      
    <button type="submit" class="btnSubmitLogin">Enviar</button>
    <button type="button" (click)="limpiarLogin()" class="btnResetLogin">Limpiar</button>

  </form>
  <div class="loadingContainerLogin" id="loadingContainerLogin" hidden>
    <div class="loadingLogin">
      <img src="../../../assets/spinner.png">
    </div>
  </div>
</div>